/* STYLES */

body {
    background: #e0e0e0;
    color: #1b1b1b;
    text-align: justify;
}

h1 {
   font-size: 48px; 
   font-weight: 370;

   text-align: center;

   /* font-style: italic; */

   text-transform: uppercase;

   /* leading */
   line-height: 42px;

   /* tracking */
   letter-spacing: -1px;
}
em {
    text-align: center;
}
h2 {
    font-family: 'Helvetica';
    font-weight:500;

}

h3 {
    font-family: 'Helvetica';
    font-weight: bold;

}

h4 {
    font-family: 'Helvetica';
    font-weight:bold;
} 

p {
    font-size: 17px;
    font-family: 'Georgia';
    margin-bottom: 28px;
    
}

main {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50vh;
    margin-bottom: 300px;
    
    /*
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    background: yellow; 
    
    padding: 16px;

    */
}

